body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:885px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:964px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13974 {
  position:absolute;
  left:53px;
  top:30px;
  width:525px;
  height:964px;
}
#u13975 {
  position:absolute;
  left:2px;
  top:474px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13976 {
  position:absolute;
  left:265px;
  top:27px;
  width:97px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13977 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u13978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:2px;
}
#u13978 {
  position:absolute;
  left:81px;
  top:60px;
  width:476px;
  height:1px;
}
#u13979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13980 {
  position:absolute;
  left:107px;
  top:71px;
  width:71px;
  height:17px;
}
#u13981 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13982 {
  position:absolute;
  left:179px;
  top:68px;
  width:146px;
  height:22px;
}
#u13982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13982_input:disabled {
  color:grayText;
}
#u13983 {
  position:absolute;
  left:333px;
  top:68px;
  width:146px;
  height:22px;
}
#u13983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13983_input:disabled {
  color:grayText;
}
#u13984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13984 {
  position:absolute;
  left:107px;
  top:102px;
  width:71px;
  height:17px;
}
#u13985 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13986 {
  position:absolute;
  left:179px;
  top:98px;
  width:361px;
  height:25px;
}
#u13986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13987 {
  position:absolute;
  left:107px;
  top:134px;
  width:43px;
  height:17px;
}
#u13988 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13989 {
  position:absolute;
  left:179px;
  top:130px;
  width:361px;
  height:25px;
}
#u13989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13990 {
  position:absolute;
  left:107px;
  top:199px;
  width:71px;
  height:17px;
}
#u13991 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13992 {
  position:absolute;
  left:179px;
  top:194px;
  width:361px;
  height:25px;
}
#u13992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:2px;
}
#u13993 {
  position:absolute;
  left:81px;
  top:307px;
  width:476px;
  height:1px;
}
#u13994 {
  position:absolute;
  left:2px;
  top:-8px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13995 {
  position:absolute;
  left:99px;
  top:311px;
  width:109px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13996 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u13997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13997 {
  position:absolute;
  left:108px;
  top:336px;
  width:43px;
  height:17px;
}
#u13998 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13999 {
  position:absolute;
  left:180px;
  top:332px;
  width:362px;
  height:25px;
}
#u13999_input {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14000 {
  position:absolute;
  left:107px;
  top:369px;
  width:43px;
  height:17px;
}
#u14001 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14002 {
  position:absolute;
  left:179px;
  top:365px;
  width:362px;
  height:25px;
}
#u14002_input {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14003 {
  position:absolute;
  left:107px;
  top:404px;
  width:43px;
  height:17px;
}
#u14004 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14005 {
  position:absolute;
  left:179px;
  top:399px;
  width:362px;
  height:22px;
}
#u14005_input {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14005_input:disabled {
  color:grayText;
}
#u14006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:2px;
}
#u14006 {
  position:absolute;
  left:81px;
  top:431px;
  width:476px;
  height:1px;
}
#u14007 {
  position:absolute;
  left:2px;
  top:-8px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14008 {
  position:absolute;
  left:71px;
  top:471px;
  width:99px;
  height:17px;
}
#u14009 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u14010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14010 {
  position:absolute;
  left:100px;
  top:503px;
  width:71px;
  height:17px;
}
#u14011 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14012 {
  position:absolute;
  left:180px;
  top:499px;
  width:362px;
  height:25px;
}
#u14012_input {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14013 {
  position:absolute;
  left:100px;
  top:670px;
  width:85px;
  height:17px;
}
#u14014 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u14015 {
  position:absolute;
  left:180px;
  top:666px;
  width:362px;
  height:25px;
}
#u14015_input {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14016 {
  position:absolute;
  left:99px;
  top:702px;
  width:71px;
  height:17px;
}
#u14017 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14018 {
  position:absolute;
  left:179px;
  top:698px;
  width:362px;
  height:25px;
}
#u14018_input {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14019 {
  position:absolute;
  left:98px;
  top:736px;
  width:71px;
  height:17px;
}
#u14020 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14021 {
  position:absolute;
  left:179px;
  top:736px;
  width:113px;
  height:17px;
}
#u14022 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u14023 {
  position:absolute;
  left:296px;
  top:733px;
  width:33px;
  height:25px;
}
#u14023_input {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14024 {
  position:absolute;
  left:334px;
  top:736px;
  width:57px;
  height:17px;
}
#u14025 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:2px;
}
#u14026 {
  position:absolute;
  left:89px;
  top:763px;
  width:461px;
  height:1px;
}
#u14027 {
  position:absolute;
  left:2px;
  top:-8px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14028 {
  position:absolute;
  left:98px;
  top:774px;
  width:71px;
  height:17px;
}
#u14029 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:75px;
}
#u14031 {
  position:absolute;
  left:179px;
  top:794px;
  width:80px;
  height:75px;
}
#u14032 {
  position:absolute;
  left:2px;
  top:30px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:75px;
}
#u14033 {
  position:absolute;
  left:269px;
  top:794px;
  width:80px;
  height:75px;
}
#u14034 {
  position:absolute;
  left:2px;
  top:30px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:75px;
}
#u14035 {
  position:absolute;
  left:366px;
  top:794px;
  width:80px;
  height:75px;
}
#u14036 {
  position:absolute;
  left:2px;
  top:30px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:75px;
}
#u14037 {
  position:absolute;
  left:463px;
  top:794px;
  width:80px;
  height:75px;
}
#u14038 {
  position:absolute;
  left:2px;
  top:30px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14039 {
  position:absolute;
  left:179px;
  top:879px;
  width:64px;
  height:18px;
}
#u14040 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u14039_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14041 {
  position:absolute;
  left:279px;
  top:881px;
  width:64px;
  height:18px;
}
#u14042 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u14041_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14043 {
  position:absolute;
  left:374px;
  top:880px;
  width:64px;
  height:18px;
}
#u14044 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u14043_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14045 {
  position:absolute;
  left:479px;
  top:879px;
  width:64px;
  height:18px;
}
#u14046 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u14045_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u14047 {
  position:absolute;
  left:180px;
  top:770px;
  width:80px;
  height:23px;
}
#u14048 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u14049 {
  position:absolute;
  left:269px;
  top:770px;
  width:80px;
  height:23px;
}
#u14050 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u14051 {
  position:absolute;
  left:366px;
  top:770px;
  width:80px;
  height:23px;
}
#u14052 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u14053 {
  position:absolute;
  left:463px;
  top:770px;
  width:80px;
  height:23px;
}
#u14054 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:34px;
}
#u14056 {
  position:absolute;
  left:244px;
  top:907px;
  width:157px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u14057 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u14058 {
  position:absolute;
  left:258px;
  top:912px;
  width:128px;
  height:26px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u14059 {
  position:absolute;
  left:0px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u14060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14060 {
  position:absolute;
  left:100px;
  top:441px;
  width:71px;
  height:17px;
}
#u14061 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14062 {
  position:absolute;
  left:180px;
  top:437px;
  width:362px;
  height:25px;
}
#u14062_input {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14063 {
  position:absolute;
  left:106px;
  top:166px;
  width:43px;
  height:17px;
}
#u14064 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14065 {
  position:absolute;
  left:178px;
  top:162px;
  width:361px;
  height:25px;
}
#u14065_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14066 {
  position:absolute;
  left:107px;
  top:231px;
  width:71px;
  height:17px;
}
#u14067 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:75px;
}
#u14068 {
  position:absolute;
  left:179px;
  top:226px;
  width:362px;
  height:75px;
}
#u14069 {
  position:absolute;
  left:2px;
  top:30px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14070 {
  position:absolute;
  left:100px;
  top:535px;
  width:43px;
  height:17px;
}
#u14071 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14072 {
  position:absolute;
  left:180px;
  top:531px;
  width:362px;
  height:25px;
}
#u14072_input {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14073 {
  position:absolute;
  left:180px;
  top:472px;
  width:300px;
  height:22px;
}
#u14073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14073_input:disabled {
  color:grayText;
}
#u14074_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:90px;
  height:31px;
}
#u14074 {
  position:absolute;
  left:529px;
  top:79px;
  width:75px;
  height:5px;
}
#u14075 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u14076 {
  position:absolute;
  left:604px;
  top:70px;
  width:281px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u14077 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u14078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u14078 {
  position:absolute;
  left:604px;
  top:100px;
  width:169px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u14079 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u14080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u14080 {
  position:absolute;
  left:604px;
  top:130px;
  width:169px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u14081 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u14082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u14082 {
  position:absolute;
  left:604px;
  top:160px;
  width:188px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u14083 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u14084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14084 {
  position:absolute;
  left:100px;
  top:570px;
  width:61px;
  height:17px;
}
#u14085 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u14086 {
  position:absolute;
  left:180px;
  top:566px;
  width:362px;
  height:25px;
}
#u14086_input {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14087 {
  position:absolute;
  left:72px;
  top:600px;
  width:89px;
  height:17px;
}
#u14088 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u14089 {
  position:absolute;
  left:179px;
  top:599px;
  width:300px;
  height:22px;
}
#u14089_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14089_input:disabled {
  color:grayText;
}
#u14090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14090 {
  position:absolute;
  left:56px;
  top:630px;
  width:113px;
  height:17px;
}
#u14091 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u14092 {
  position:absolute;
  left:180px;
  top:631px;
  width:362px;
  height:25px;
}
#u14092_input {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14093_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:124px;
  height:31px;
}
#u14093 {
  position:absolute;
  left:543px;
  top:608px;
  width:109px;
  height:5px;
}
#u14094 {
  position:absolute;
  left:2px;
  top:-6px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14095 {
  position:absolute;
  left:652px;
  top:601px;
  width:225px;
  height:20px;
  color:#FF0000;
}
#u14096 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u14097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14097 {
  position:absolute;
  left:56px;
  top:556px;
  width:487px;
  height:104px;
  opacity:0.2;
}
#u14098 {
  position:absolute;
  left:2px;
  top:44px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
