body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:586px;
}
#u498 {
  position:absolute;
  left:67px;
  top:-9px;
  width:833px;
  height:586px;
}
#u499 {
  position:absolute;
  left:2px;
  top:285px;
  width:829px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:551px;
  height:31px;
}
#u500 {
  position:absolute;
  left:459px;
  top:353px;
  width:536px;
  height:5px;
}
#u501 {
  position:absolute;
  left:2px;
  top:-6px;
  width:532px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u502 {
  position:absolute;
  left:995px;
  top:348px;
  width:465px;
  height:22px;
  font-size:16px;
  color:#FF0000;
}
#u503 {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  white-space:nowrap;
}
