body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:526px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6025 {
  position:absolute;
  left:36px;
  top:16px;
  width:490px;
  height:326px;
}
#u6026 {
  position:absolute;
  left:2px;
  top:155px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6027 {
  position:absolute;
  left:220px;
  top:23px;
  width:97px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6028 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:2px;
}
#u6029 {
  position:absolute;
  left:36px;
  top:56px;
  width:476px;
  height:1px;
}
#u6030 {
  position:absolute;
  left:2px;
  top:-8px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6031 {
  position:absolute;
  left:62px;
  top:67px;
  width:71px;
  height:17px;
}
#u6032 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6033 {
  position:absolute;
  left:134px;
  top:64px;
  width:99px;
  height:22px;
}
#u6033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6033_input:disabled {
  color:grayText;
}
#u6034 {
  position:absolute;
  left:244px;
  top:64px;
  width:98px;
  height:22px;
}
#u6034_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6034_input:disabled {
  color:grayText;
}
#u6035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6035 {
  position:absolute;
  left:62px;
  top:98px;
  width:71px;
  height:17px;
}
#u6036 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6037 {
  position:absolute;
  left:134px;
  top:94px;
  width:361px;
  height:25px;
}
#u6037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6038 {
  position:absolute;
  left:62px;
  top:130px;
  width:71px;
  height:17px;
}
#u6039 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6040 {
  position:absolute;
  left:134px;
  top:126px;
  width:361px;
  height:25px;
}
#u6040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6041 {
  position:absolute;
  left:62px;
  top:195px;
  width:75px;
  height:17px;
}
#u6042 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6043 {
  position:absolute;
  left:134px;
  top:191px;
  width:361px;
  height:25px;
}
#u6043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6044 {
  position:absolute;
  left:61px;
  top:162px;
  width:57px;
  height:17px;
}
#u6045 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6046 {
  position:absolute;
  left:133px;
  top:158px;
  width:361px;
  height:25px;
}
#u6046_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6047 {
  position:absolute;
  left:134px;
  top:226px;
  width:113px;
  height:18px;
}
#u6048 {
  position:absolute;
  left:16px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u6047_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
}
#u6050 {
  position:absolute;
  left:154px;
  top:273px;
  width:69px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6051 {
  position:absolute;
  left:2px;
  top:9px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6052 {
  position:absolute;
  left:160px;
  top:278px;
  width:56px;
  height:26px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6053 {
  position:absolute;
  left:0px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u6054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
}
#u6055 {
  position:absolute;
  left:254px;
  top:275px;
  width:69px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6056 {
  position:absolute;
  left:2px;
  top:9px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6057 {
  position:absolute;
  left:260px;
  top:280px;
  width:56px;
  height:26px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6058 {
  position:absolute;
  left:0px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u6059 {
  position:absolute;
  left:354px;
  top:65px;
  width:98px;
  height:22px;
}
#u6059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6059_input:disabled {
  color:grayText;
}
