body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16228 {
  position:absolute;
  left:32px;
  top:668px;
  width:616px;
  height:170px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16229 {
  position:absolute;
  left:2px;
  top:77px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16230 {
  position:absolute;
  left:32px;
  top:488px;
  width:616px;
  height:170px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16231 {
  position:absolute;
  left:2px;
  top:77px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16232 {
  position:absolute;
  left:32px;
  top:308px;
  width:616px;
  height:170px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16233 {
  position:absolute;
  left:2px;
  top:77px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u16234 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u16235 {
  position:absolute;
  left:2px;
  top:20px;
  width:1276px;
  word-wrap:break-word;
}
#u16236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:135px;
  background:inherit;
  background-color:rgba(107, 14, 126, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16237 {
  position:absolute;
  left:46px;
  top:328px;
  width:318px;
  height:135px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16238 {
  position:absolute;
  left:2px;
  top:60px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u16239 {
  position:absolute;
  left:46px;
  top:327px;
  width:318px;
  height:1px;
}
#u16240 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u16241 {
  position:absolute;
  left:66px;
  top:340px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u16242 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u16243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u16243 {
  position:absolute;
  left:46px;
  top:462px;
  width:318px;
  height:1px;
}
#u16244 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:135px;
  background:inherit;
  background-color:rgba(107, 14, 126, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16246 {
  position:absolute;
  left:46px;
  top:506px;
  width:318px;
  height:135px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16247 {
  position:absolute;
  left:2px;
  top:60px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u16248 {
  position:absolute;
  left:46px;
  top:505px;
  width:318px;
  height:1px;
}
#u16249 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16250 {
  position:absolute;
  left:66px;
  top:518px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16251 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u16252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u16252 {
  position:absolute;
  left:46px;
  top:640px;
  width:318px;
  height:1px;
}
#u16253 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16254 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16255_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:60px;
  height:19px;
}
#u16255p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:52px;
  height:4px;
}
#u16255p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:54px;
  height:6px;
}
#u16255p001 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:20px;
}
#u16255p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16255.compound {
  width:0px;
  height:0px;
}
#u16255 {
  position:absolute;
  left:364px;
  top:336px;
  width:50px;
  height:1px;
}
#u16256 {
  position:absolute;
  left:2px;
  top:-8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF6600;
}
#u16257 {
  position:absolute;
  left:419px;
  top:325px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF6600;
}
#u16258 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16260_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:60px;
  height:19px;
}
#u16260p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:52px;
  height:4px;
}
#u16260p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:54px;
  height:6px;
}
#u16260p001 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:20px;
}
#u16260p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16260.compound {
  width:0px;
  height:0px;
}
#u16260 {
  position:absolute;
  left:364px;
  top:526px;
  width:50px;
  height:1px;
}
#u16261 {
  position:absolute;
  left:2px;
  top:-8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF6600;
}
#u16262 {
  position:absolute;
  left:419px;
  top:515px;
  width:215px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF6600;
}
#u16263 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u16264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
}
#u16264 {
  position:absolute;
  left:96px;
  top:518px;
  width:15px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
}
#u16265 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u16266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:131px;
  background:inherit;
  background-color:rgba(107, 14, 126, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16266 {
  position:absolute;
  left:46px;
  top:690px;
  width:318px;
  height:131px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16267 {
  position:absolute;
  left:2px;
  top:58px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u16268 {
  position:absolute;
  left:46px;
  top:689px;
  width:318px;
  height:1px;
}
#u16269 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16270 {
  position:absolute;
  left:66px;
  top:702px;
  width:282px;
  height:102px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16271 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u16272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u16272 {
  position:absolute;
  left:46px;
  top:820px;
  width:318px;
  height:1px;
}
#u16273 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16274 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16275_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:70px;
  height:19px;
}
#u16275p000 {
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:4px;
}
#u16275p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:66px;
  height:6px;
}
#u16275p001 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:20px;
}
#u16275p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u16275.compound {
  width:0px;
  height:0px;
}
#u16275 {
  position:absolute;
  left:369px;
  top:713px;
  width:60px;
  height:1px;
}
#u16276 {
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF6600;
}
#u16277 {
  position:absolute;
  left:435px;
  top:702px;
  width:177px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF6600;
}
#u16278 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u16279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
}
#u16279 {
  position:absolute;
  left:144px;
  top:787px;
  width:15px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
}
#u16280 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u16281 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16282_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:60px;
  height:19px;
}
#u16282p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:52px;
  height:4px;
}
#u16282p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:54px;
  height:6px;
}
#u16282p001 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:20px;
}
#u16282p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16282.compound {
  width:0px;
  height:0px;
}
#u16282 {
  position:absolute;
  left:364px;
  top:384px;
  width:50px;
  height:1px;
}
#u16283 {
  position:absolute;
  left:2px;
  top:-8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF6600;
}
#u16284 {
  position:absolute;
  left:419px;
  top:373px;
  width:215px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF6600;
}
#u16285 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u16286 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16287_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:60px;
  height:19px;
}
#u16287p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:52px;
  height:4px;
}
#u16287p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:54px;
  height:6px;
}
#u16287p001 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:20px;
}
#u16287p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16287.compound {
  width:0px;
  height:0px;
}
#u16287 {
  position:absolute;
  left:364px;
  top:414px;
  width:50px;
  height:1px;
}
#u16288 {
  position:absolute;
  left:2px;
  top:-8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF6600;
}
#u16289 {
  position:absolute;
  left:419px;
  top:403px;
  width:215px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF6600;
}
#u16290 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u16291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u16291 {
  position:absolute;
  left:46px;
  top:280px;
  width:256px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u16292 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u16293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:36px;
}
#u16293 {
  position:absolute;
  left:32px;
  top:224px;
  width:128px;
  height:56px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:36px;
}
#u16294 {
  position:absolute;
  left:0px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u16295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u16295 {
  position:absolute;
  left:28px;
  top:156px;
  width:407px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u16296 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  white-space:nowrap;
}
#u16297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:36px;
}
#u16297 {
  position:absolute;
  left:28px;
  top:113px;
  width:163px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:36px;
}
#u16298 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
