body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
}
#u10193 {
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:101px;
}
#u10194 {
  position:absolute;
  left:2px;
  top:42px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10195 {
  position:absolute;
  left:218px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10196 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10197 {
  position:absolute;
  left:307px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10198 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10199 {
  position:absolute;
  left:397px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10200 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10201 {
  position:absolute;
  left:486px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10202 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10203 {
  position:absolute;
  left:576px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10204 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u10205 {
  position:absolute;
  left:100px;
  top:66px;
  width:120px;
  height:35px;
}
#u10206 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10207 {
  position:absolute;
  left:666px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10208 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10209 {
  position:absolute;
  left:755px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10210 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10211 {
  position:absolute;
  left:845px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10212 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10213_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:6px;
}
#u10213 {
  position:absolute;
  left:247px;
  top:97px;
  width:30px;
  height:3px;
  color:#FFFFFF;
}
#u10214 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10215_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u10215 {
  position:absolute;
  left:1058px;
  top:67px;
  width:20px;
  height:20px;
  font-size:10px;
}
#u10216 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u10217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10217 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u10218 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10219 {
  position:absolute;
  left:129px;
  top:9px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u10220 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u10221 {
  position:absolute;
  left:191px;
  top:6px;
  width:1px;
  height:20px;
}
#u10222 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10223 {
  position:absolute;
  left:209px;
  top:9px;
  width:135px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u10224 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u10225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10225 {
  position:absolute;
  left:354px;
  top:9px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u10226 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10227 {
  position:absolute;
  left:406px;
  top:9px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u10228 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10229 {
  position:absolute;
  left:808px;
  top:9px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u10230 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10231 {
  position:absolute;
  left:98px;
  top:1px;
  width:83px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10232 {
  position:absolute;
  left:807px;
  top:1px;
  width:66px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:34px;
}
#u10233 {
  position:absolute;
  left:883px;
  top:8px;
  width:228px;
  height:34px;
  font-size:12px;
  color:#FFFFFF;
}
#u10234 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u10235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10235 {
  position:absolute;
  left:855px;
  top:6px;
  width:20px;
  height:20px;
}
#u10236 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10237 {
  position:absolute;
  left:109px;
  top:6px;
  width:20px;
  height:20px;
}
#u10238 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10239 {
  position:absolute;
  left:1038px;
  top:72px;
  width:20px;
  height:20px;
}
#u10240 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10241 {
  position:absolute;
  left:100px;
  top:30px;
  width:240px;
  height:130px;
  overflow:hidden;
  visibility:hidden;
}
#u10241_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10241_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10242 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:130px;
}
#u10243 {
  position:absolute;
  left:2px;
  top:57px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u10244 {
  position:absolute;
  left:18px;
  top:19px;
  width:90px;
  height:90px;
}
#u10245 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u10246 {
  position:absolute;
  left:118px;
  top:19px;
  width:112px;
  height:36px;
}
#u10247 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u10248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u10248 {
  position:absolute;
  left:118px;
  top:57px;
  width:100px;
  height:20px;
}
#u10249 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u10250 {
  position:absolute;
  left:118px;
  top:89px;
  width:100px;
  height:20px;
}
#u10251 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10252 {
  position:absolute;
  left:808px;
  top:26px;
  width:200px;
  height:130px;
  overflow:hidden;
  visibility:hidden;
}
#u10252_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10252_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10253 {
  position:absolute;
  left:0px;
  top:-3px;
  width:198px;
  height:72px;
}
#u10254 {
  position:absolute;
  left:2px;
  top:28px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u10255 {
  position:absolute;
  left:8px;
  top:10px;
  width:79px;
  height:51px;
  font-size:13px;
}
#u10256 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u10257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u10257 {
  position:absolute;
  left:103px;
  top:10px;
  width:79px;
  height:51px;
  font-size:13px;
}
#u10258 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u10259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u10259 {
  position:absolute;
  left:83px;
  top:1146px;
  width:144px;
  height:41px;
}
#u10260 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:87px;
}
#u10261 {
  position:absolute;
  left:267px;
  top:1146px;
  width:200px;
  height:87px;
}
#u10262 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u10263 {
  position:absolute;
  left:91px;
  top:1119px;
  width:1000px;
  height:1px;
}
#u10264 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:18px;
}
#u10265 {
  position:absolute;
  left:576px;
  top:1302px;
  width:133px;
  height:18px;
  color:#AEAEAE;
}
#u10266 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u10267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u10267 {
  position:absolute;
  left:590px;
  top:1217px;
  width:1px;
  height:16px;
}
#u10268 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u10269 {
  position:absolute;
  left:740px;
  top:1217px;
  width:1px;
  height:16px;
}
#u10270 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
}
#u10271 {
  position:absolute;
  left:751px;
  top:1302px;
  width:209px;
  height:18px;
  color:#AEAEAE;
}
#u10272 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u10273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:15px;
}
#u10273 {
  position:absolute;
  left:193px;
  top:1302px;
  width:349px;
  height:15px;
  color:#AEAEAE;
}
#u10274 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u10275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
}
#u10275 {
  position:absolute;
  left:732px;
  top:1146px;
  width:300px;
  height:51px;
}
#u10276 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u10277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u10277 {
  position:absolute;
  left:751px;
  top:1196px;
  width:90px;
  height:90px;
}
#u10278 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
}
#u10279 {
  position:absolute;
  left:588px;
  top:1146px;
  width:300px;
  height:51px;
}
#u10280 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u10281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u10281 {
  position:absolute;
  left:607px;
  top:1196px;
  width:90px;
  height:90px;
}
#u10282 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u10283 {
  position:absolute;
  left:862px;
  top:1207px;
  width:100px;
  height:20px;
}
#u10284 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u10285 {
  position:absolute;
  left:862px;
  top:1247px;
  width:100px;
  height:20px;
}
#u10286 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:87px;
}
#u10287 {
  position:absolute;
  left:397px;
  top:1146px;
  width:200px;
  height:87px;
}
#u10288 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:56px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10289 {
  position:absolute;
  left:100px;
  top:164px;
  width:1000px;
  height:56px;
}
#u10290 {
  position:absolute;
  left:2px;
  top:10px;
  width:996px;
  word-wrap:break-word;
}
#u10291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:176px;
}
#u10291 {
  position:absolute;
  left:421px;
  top:267px;
  width:401px;
  height:176px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10292 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u10293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10293 {
  position:absolute;
  left:552px;
  top:466px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10294 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u10295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10295 {
  position:absolute;
  left:927px;
  top:653px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10296 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u10297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10297 {
  position:absolute;
  left:823px;
  top:663px;
  width:85px;
  height:20px;
  color:#FF0000;
}
#u10298 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
