body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:474px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19384 {
  position:absolute;
  left:500px;
  top:286px;
  width:360px;
  height:474px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19385 {
  position:absolute;
  left:2px;
  top:229px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:471px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19386 {
  position:absolute;
  left:34px;
  top:286px;
  width:360px;
  height:471px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19387 {
  position:absolute;
  left:2px;
  top:228px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u19388 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u19389 {
  position:absolute;
  left:2px;
  top:20px;
  width:1276px;
  word-wrap:break-word;
}
#u19390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u19390 {
  position:absolute;
  left:34px;
  top:236px;
  width:91px;
  height:33px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u19391 {
  position:absolute;
  left:0px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u19392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:440px;
  background:inherit;
  background-color:rgba(107, 14, 126, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19392 {
  position:absolute;
  left:520px;
  top:302px;
  width:320px;
  height:440px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19393 {
  position:absolute;
  left:2px;
  top:212px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(172, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19394 {
  position:absolute;
  left:520px;
  top:324px;
  width:320px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19395 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19396 {
  position:absolute;
  left:626px;
  top:334px;
  width:126px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19397 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u19398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u19398 {
  position:absolute;
  left:520px;
  top:304px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19399 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19400 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u19401 {
  position:absolute;
  left:520px;
  top:324px;
  width:35px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u19402 {
  position:absolute;
  left:2px;
  top:14px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
}
#u19403 {
  position:absolute;
  left:532px;
  top:338px;
  width:11px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19404 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:20px;
}
#u19405 {
  position:absolute;
  left:546px;
  top:414px;
  width:269px;
  height:166px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:20px;
}
#u19406 {
  position:absolute;
  left:0px;
  top:33px;
  width:269px;
  word-wrap:break-word;
}
#u19407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:440px;
  background:inherit;
  background-color:rgba(107, 14, 126, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19407 {
  position:absolute;
  left:54px;
  top:301px;
  width:320px;
  height:440px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19408 {
  position:absolute;
  left:2px;
  top:212px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(172, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19409 {
  position:absolute;
  left:54px;
  top:323px;
  width:320px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19410 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19411 {
  position:absolute;
  left:168px;
  top:333px;
  width:91px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19412 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u19413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u19413 {
  position:absolute;
  left:54px;
  top:303px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19414 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19415 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u19416 {
  position:absolute;
  left:54px;
  top:323px;
  width:35px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u19417 {
  position:absolute;
  left:2px;
  top:14px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
}
#u19418 {
  position:absolute;
  left:66px;
  top:337px;
  width:11px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19419 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u19420 {
  position:absolute;
  left:178px;
  top:705px;
  width:57px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u19421 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:77px;
  background:inherit;
  background-color:rgba(107, 14, 126, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19422 {
  position:absolute;
  left:54px;
  top:385px;
  width:320px;
  height:77px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19423 {
  position:absolute;
  left:2px;
  top:30px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:77px;
  background:inherit;
  background-color:rgba(107, 14, 126, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19424 {
  position:absolute;
  left:54px;
  top:461px;
  width:320px;
  height:77px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19425 {
  position:absolute;
  left:2px;
  top:30px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:77px;
  background:inherit;
  background-color:rgba(107, 14, 126, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19426 {
  position:absolute;
  left:54px;
  top:537px;
  width:320px;
  height:77px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19427 {
  position:absolute;
  left:2px;
  top:30px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19428 {
  position:absolute;
  left:65px;
  top:491px;
  width:70px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19429 {
  position:absolute;
  left:0px;
  top:-1px;
  width:70px;
  word-wrap:break-word;
}
#u19430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19430 {
  position:absolute;
  left:65px;
  top:569px;
  width:70px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19431 {
  position:absolute;
  left:0px;
  top:-1px;
  width:70px;
  word-wrap:break-word;
}
#u19432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19432 {
  position:absolute;
  left:65px;
  top:413px;
  width:70px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19433 {
  position:absolute;
  left:0px;
  top:-1px;
  width:70px;
  word-wrap:break-word;
}
#u19434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:77px;
  background:inherit;
  background-color:rgba(107, 14, 126, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19434 {
  position:absolute;
  left:54px;
  top:613px;
  width:320px;
  height:77px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19435 {
  position:absolute;
  left:2px;
  top:30px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19436 {
  position:absolute;
  left:65px;
  top:645px;
  width:70px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19437 {
  position:absolute;
  left:0px;
  top:-1px;
  width:70px;
  word-wrap:break-word;
}
#u19438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
  line-height:20px;
}
#u19438 {
  position:absolute;
  left:399px;
  top:461px;
  width:101px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
  line-height:20px;
}
#u19439 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u19440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
  line-height:20px;
}
#u19440 {
  position:absolute;
  left:400px;
  top:324px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
  line-height:20px;
}
#u19441 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u19442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u19442 {
  position:absolute;
  left:34px;
  top:889px;
  width:239px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u19443 {
  position:absolute;
  left:0px;
  top:2px;
  width:239px;
  white-space:nowrap;
}
#u19444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u19444 {
  position:absolute;
  left:34px;
  top:848px;
  width:144px;
  height:33px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u19445 {
  position:absolute;
  left:0px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u19446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u19446 {
  position:absolute;
  left:516px;
  top:325px;
  width:44px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19447 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:77px;
  background:inherit;
  background-color:rgba(102, 204, 255, 0.509803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19448 {
  position:absolute;
  left:54px;
  top:461px;
  width:320px;
  height:77px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19449 {
  position:absolute;
  left:2px;
  top:30px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19450 {
  position:absolute;
  left:344px;
  top:370px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19450_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u19450_seg1 {
  position:absolute;
  left:-4px;
  top:63px;
  width:199px;
  height:8px;
}
#u19450_seg2 {
  position:absolute;
  left:187px;
  top:-13px;
  width:8px;
  height:84px;
}
#u19450_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u19451 {
  position:absolute;
  left:52px;
  top:59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u19452 {
  position:absolute;
  left:327px;
  top:329px;
  width:33px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19453 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u19454 {
  position:absolute;
  left:797px;
  top:329px;
  width:33px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19455 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19456 {
  position:absolute;
  left:287px;
  top:513px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19456_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:201px;
  height:8px;
}
#u19456_seg1 {
  position:absolute;
  left:182px;
  top:-10px;
  width:20px;
  height:20px;
}
#u19457 {
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u19458 {
  position:absolute;
  left:187px;
  top:486px;
  width:48px;
  height:48px;
}
#u19459 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u19460 {
  position:absolute;
  left:532px;
  top:334px;
  width:48px;
  height:48px;
}
#u19461 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u19462 {
  position:absolute;
  left:34px;
  top:150px;
  width:631px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u19463 {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  white-space:nowrap;
}
#u19464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:36px;
}
#u19464 {
  position:absolute;
  left:34px;
  top:104px;
  width:55px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:36px;
}
#u19465 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
