body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:642px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13805 {
  position:absolute;
  left:69px;
  top:125px;
  width:299px;
  height:642px;
}
#u13806 {
  position:absolute;
  left:2px;
  top:313px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u13807 {
  position:absolute;
  left:169px;
  top:251px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u13808 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:47px;
}
#u13809 {
  position:absolute;
  left:212px;
  top:142px;
  width:124px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13810 {
  position:absolute;
  left:2px;
  top:14px;
  width:120px;
  word-wrap:break-word;
}
#u13811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:47px;
}
#u13811 {
  position:absolute;
  left:120px;
  top:142px;
  width:126px;
  height:46px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13812 {
  position:absolute;
  left:2px;
  top:15px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13813 {
  position:absolute;
  left:141px;
  top:155px;
  width:61px;
  height:20px;
  color:#FFFFFF;
}
#u13814 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u13815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:642px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13815 {
  position:absolute;
  left:375px;
  top:125px;
  width:723px;
  height:642px;
}
#u13816 {
  position:absolute;
  left:2px;
  top:313px;
  width:719px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u13817 {
  position:absolute;
  left:169px;
  top:315px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u13818 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u13819 {
  position:absolute;
  left:169px;
  top:383px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u13820 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13821 {
  position:absolute;
  left:242px;
  top:309px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u13822 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u13823 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
}
#u13824 {
  position:absolute;
  left:0px;
  top:26px;
  width:1200px;
  height:89px;
}
#u13825 {
  position:absolute;
  left:2px;
  top:36px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:42px;
}
#u13826 {
  position:absolute;
  left:307px;
  top:52px;
  width:90px;
  height:42px;
  color:#1E1E1E;
}
#u13827 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u13828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:42px;
}
#u13828 {
  position:absolute;
  left:397px;
  top:52px;
  width:90px;
  height:42px;
  color:#1E1E1E;
}
#u13829 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u13830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:42px;
}
#u13830 {
  position:absolute;
  left:486px;
  top:52px;
  width:90px;
  height:42px;
  color:#1E1E1E;
}
#u13831 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u13832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:42px;
}
#u13832 {
  position:absolute;
  left:576px;
  top:52px;
  width:90px;
  height:42px;
  color:#1E1E1E;
}
#u13833 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u13834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u13834 {
  position:absolute;
  left:100px;
  top:58px;
  width:120px;
  height:31px;
}
#u13835 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:42px;
}
#u13836 {
  position:absolute;
  left:666px;
  top:52px;
  width:90px;
  height:42px;
  color:#1E1E1E;
}
#u13837 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u13838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:42px;
}
#u13838 {
  position:absolute;
  left:755px;
  top:52px;
  width:90px;
  height:42px;
  color:#1E1E1E;
}
#u13839 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u13840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:42px;
}
#u13840 {
  position:absolute;
  left:845px;
  top:52px;
  width:90px;
  height:42px;
  color:#1E1E1E;
}
#u13841 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u13842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13842 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:26px;
}
#u13843 {
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13844 {
  position:absolute;
  left:129px;
  top:8px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u13845 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u13846 {
  position:absolute;
  left:191px;
  top:5px;
  width:1px;
  height:18px;
}
#u13847 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13848 {
  position:absolute;
  left:209px;
  top:8px;
  width:136px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u13849 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u13850 {
  position:absolute;
  left:98px;
  top:1px;
  width:83px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:17px;
}
#u13851 {
  position:absolute;
  left:748px;
  top:5px;
  width:285px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u13852 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u13853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u13853 {
  position:absolute;
  left:109px;
  top:5px;
  width:20px;
  height:18px;
}
#u13854 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:42px;
}
#u13855 {
  position:absolute;
  left:218px;
  top:52px;
  width:90px;
  height:42px;
  color:#1E1E1E;
}
#u13856 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u13857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u13857 {
  position:absolute;
  left:1161px;
  top:4px;
  width:20px;
  height:18px;
}
#u13858 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13859 {
  position:absolute;
  left:1114px;
  top:7px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u13860 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13861 {
  position:absolute;
  left:1178px;
  top:6px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u13862 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u13863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13863 {
  position:absolute;
  left:1090px;
  top:27px;
  width:106px;
  height:98px;
}
#u13864 {
  position:absolute;
  left:2px;
  top:41px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13865 {
  position:absolute;
  left:1108px;
  top:36px;
  width:57px;
  height:20px;
}
#u13866 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13867 {
  position:absolute;
  left:1110px;
  top:66px;
  width:57px;
  height:20px;
}
#u13868 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13869 {
  position:absolute;
  left:1110px;
  top:96px;
  width:57px;
  height:20px;
}
#u13870 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13871 {
  position:absolute;
  left:1165px;
  top:34px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u13872 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u13873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13873 {
  position:absolute;
  left:400px;
  top:142px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13874 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13875 {
  position:absolute;
  left:400px;
  top:251px;
  width:36px;
  height:16px;
}
#u13876 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u13877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13877 {
  position:absolute;
  left:1003px;
  top:145px;
  width:57px;
  height:20px;
}
#u13878 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
