body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1056px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:897px;
}
#u4433 {
  position:absolute;
  left:32px;
  top:69px;
  width:1024px;
  height:897px;
}
#u4434 {
  position:absolute;
  left:2px;
  top:440px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u4435 {
  position:absolute;
  left:303px;
  top:39px;
  width:167px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u4436 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
