body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1239px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u12902 {
  position:absolute;
  left:155px;
  top:499px;
  width:128px;
  height:42px;
  font-size:16px;
  color:#000000;
}
#u12903 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u12904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u12904 {
  position:absolute;
  left:155px;
  top:541px;
  width:128px;
  height:42px;
  font-size:16px;
  color:#000000;
}
#u12905 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u12906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12906 {
  position:absolute;
  left:155px;
  top:583px;
  width:128px;
  height:42px;
  font-size:16px;
}
#u12907 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u12908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:47px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12908 {
  position:absolute;
  left:124px;
  top:153px;
  width:159px;
  height:47px;
  font-size:18px;
}
#u12909 {
  position:absolute;
  left:2px;
  top:11px;
  width:155px;
  word-wrap:break-word;
}
#u12910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12910 {
  position:absolute;
  left:155px;
  top:625px;
  width:128px;
  height:42px;
  font-size:16px;
}
#u12911 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u12912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12912 {
  position:absolute;
  left:155px;
  top:667px;
  width:128px;
  height:42px;
  font-size:16px;
}
#u12913 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u12914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12914 {
  position:absolute;
  left:155px;
  top:709px;
  width:128px;
  height:42px;
  font-size:16px;
}
#u12915 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u12916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u12916 {
  position:absolute;
  left:283px;
  top:153px;
  width:956px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u12917 {
  position:absolute;
  left:2px;
  top:15px;
  width:952px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u12918 {
  position:absolute;
  left:462px;
  top:204px;
  width:777px;
  height:22px;
  font-size:14px;
  text-align:left;
}
#u12919 {
  position:absolute;
  left:2px;
  top:1px;
  width:773px;
  word-wrap:break-word;
}
#u12920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u12920 {
  position:absolute;
  left:462px;
  top:226px;
  width:777px;
  height:83px;
  font-size:14px;
  text-align:left;
}
#u12921 {
  position:absolute;
  left:2px;
  top:2px;
  width:773px;
  word-wrap:break-word;
}
#u12922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u12922 {
  position:absolute;
  left:461px;
  top:319px;
  width:778px;
  height:28px;
  font-size:14px;
  text-align:left;
}
#u12923 {
  position:absolute;
  left:2px;
  top:4px;
  width:774px;
  word-wrap:break-word;
}
#u12924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u12924 {
  position:absolute;
  left:461px;
  top:347px;
  width:778px;
  height:72px;
  font-size:14px;
  text-align:left;
}
#u12925 {
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
#u12926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12926 {
  position:absolute;
  left:1093px;
  top:377px;
  width:100px;
  height:30px;
}
#u12927 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u12928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12928 {
  position:absolute;
  left:291px;
  top:429px;
  width:946px;
  height:103px;
}
#u12929 {
  position:absolute;
  left:2px;
  top:44px;
  width:942px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u12930 {
  position:absolute;
  left:462px;
  top:429px;
  width:777px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u12931 {
  position:absolute;
  left:2px;
  top:10px;
  width:773px;
  word-wrap:break-word;
}
#u12932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u12932 {
  position:absolute;
  left:462px;
  top:459px;
  width:777px;
  height:73px;
  font-size:14px;
  text-align:left;
}
#u12933 {
  position:absolute;
  left:2px;
  top:2px;
  width:773px;
  word-wrap:break-word;
}
#u12934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12934 {
  position:absolute;
  left:1093px;
  top:494px;
  width:100px;
  height:30px;
}
#u12935 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u12936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:105px;
}
#u12936 {
  position:absolute;
  left:292px;
  top:204px;
  width:160px;
  height:105px;
  color:#FFFFFF;
}
#u12937 {
  position:absolute;
  left:2px;
  top:44px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12938 {
  position:absolute;
  left:817px;
  top:1404px;
  width:40px;
  height:40px;
}
#u12939 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u12940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12940 {
  position:absolute;
  left:867px;
  top:1404px;
  width:40px;
  height:40px;
}
#u12941 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u12942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12942 {
  position:absolute;
  left:917px;
  top:1404px;
  width:40px;
  height:40px;
}
#u12943 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u12944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12944 {
  position:absolute;
  left:967px;
  top:1404px;
  width:40px;
  height:40px;
}
#u12945 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u12946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12946 {
  position:absolute;
  left:1017px;
  top:1404px;
  width:40px;
  height:40px;
}
#u12947 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u12948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12948 {
  position:absolute;
  left:1067px;
  top:1404px;
  width:40px;
  height:40px;
}
#u12949 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u12950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12950 {
  position:absolute;
  left:1117px;
  top:1404px;
  width:122px;
  height:40px;
  text-align:left;
}
#u12951 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12952 {
  position:absolute;
  left:1173px;
  top:1412px;
  width:34px;
  height:20px;
  text-align:left;
}
#u12953 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12954 {
  position:absolute;
  left:1214px;
  top:1414px;
  width:23px;
  height:20px;
}
#u12955 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u12956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12956 {
  position:absolute;
  left:1124px;
  top:1414px;
  width:43px;
  height:20px;
}
#u12957 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12958 {
  position:absolute;
  left:1093px;
  top:265px;
  width:100px;
  height:30px;
}
#u12959 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u12960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:102px;
}
#u12960 {
  position:absolute;
  left:291px;
  top:316px;
  width:160px;
  height:102px;
  color:#FFFFFF;
}
#u12961 {
  position:absolute;
  left:2px;
  top:43px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:103px;
}
#u12962 {
  position:absolute;
  left:292px;
  top:428px;
  width:160px;
  height:103px;
  color:#FFFFFF;
}
#u12963 {
  position:absolute;
  left:2px;
  top:44px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
}
#u12964 {
  position:absolute;
  left:39px;
  top:35px;
  width:1200px;
  height:101px;
}
#u12965 {
  position:absolute;
  left:2px;
  top:42px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u12966 {
  position:absolute;
  left:372px;
  top:64px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u12967 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u12968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u12968 {
  position:absolute;
  left:443px;
  top:64px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u12969 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u12970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u12970 {
  position:absolute;
  left:504px;
  top:64px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u12971 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u12972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u12972 {
  position:absolute;
  left:563px;
  top:64px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u12973 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u12974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u12974 {
  position:absolute;
  left:624px;
  top:64px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u12975 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u12976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u12976 {
  position:absolute;
  left:139px;
  top:71px;
  width:120px;
  height:35px;
}
#u12977 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u12978 {
  position:absolute;
  left:684px;
  top:64px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u12979 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u12980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u12980 {
  position:absolute;
  left:750px;
  top:64px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u12981 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u12982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u12982 {
  position:absolute;
  left:836px;
  top:64px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u12983 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u12984_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:6px;
}
#u12984 {
  position:absolute;
  left:402px;
  top:102px;
  width:30px;
  height:3px;
  color:#FFFFFF;
}
#u12985 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12986_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u12986 {
  position:absolute;
  left:1097px;
  top:72px;
  width:20px;
  height:20px;
  font-size:10px;
}
#u12987 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u12988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12988 {
  position:absolute;
  left:39px;
  top:5px;
  width:1200px;
  height:30px;
}
#u12989 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12990 {
  position:absolute;
  left:168px;
  top:14px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u12991 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u12992 {
  position:absolute;
  left:230px;
  top:11px;
  width:1px;
  height:20px;
}
#u12993 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12994 {
  position:absolute;
  left:248px;
  top:14px;
  width:136px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u12995 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u12996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12996 {
  position:absolute;
  left:393px;
  top:14px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u12997 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12998 {
  position:absolute;
  left:445px;
  top:14px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u12999 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13000 {
  position:absolute;
  left:860px;
  top:14px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u13001 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13002 {
  position:absolute;
  left:137px;
  top:6px;
  width:83px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:17px;
}
#u13003 {
  position:absolute;
  left:922px;
  top:13px;
  width:255px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u13004 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u13005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13005 {
  position:absolute;
  left:148px;
  top:11px;
  width:20px;
  height:20px;
}
#u13006 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13007 {
  position:absolute;
  left:1077px;
  top:77px;
  width:20px;
  height:20px;
}
#u13008 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13009 {
  position:fixed;
  left:50%;
  margin-left:-600px;
  top:5px;
  width:1200px;
  height:50px;
  overflow:hidden;
  visibility:hidden;
}
#u13009_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u13009_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13010_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:1211px;
  height:12px;
}
#u13010 {
  position:absolute;
  left:0px;
  top:50px;
  width:1200px;
  height:1px;
}
#u13011 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u13012 {
  position:absolute;
  left:100px;
  top:6px;
  width:130px;
  height:37px;
}
#u13013 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u13014 {
  position:absolute;
  left:262px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u13015 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u13016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u13016 {
  position:absolute;
  left:351px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u13017 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u13018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u13018 {
  position:absolute;
  left:441px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u13019 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u13020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u13020 {
  position:absolute;
  left:530px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u13021 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u13022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u13022 {
  position:absolute;
  left:620px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u13023 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u13024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u13024 {
  position:absolute;
  left:710px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u13025 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u13026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u13026 {
  position:absolute;
  left:799px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u13027 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u13028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u13028 {
  position:absolute;
  left:889px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u13029 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u13030_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:6px;
}
#u13030 {
  position:absolute;
  left:291px;
  top:39px;
  width:30px;
  height:3px;
  color:#FFFFFF;
}
#u13031 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13032_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u13032 {
  position:absolute;
  left:1042px;
  top:13px;
  width:20px;
  height:20px;
  font-size:10px;
}
#u13033 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u13034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13034 {
  position:absolute;
  left:1022px;
  top:18px;
  width:20px;
  height:20px;
}
#u13035 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u13036 {
  position:absolute;
  left:928px;
  top:64px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u13037 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u13038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13038 {
  position:absolute;
  left:155px;
  top:751px;
  width:128px;
  height:42px;
  font-size:16px;
}
#u13039 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u13040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:186px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13040 {
  position:absolute;
  left:39px;
  top:1502px;
  width:1200px;
  height:186px;
}
#u13041 {
  position:absolute;
  left:2px;
  top:85px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u13042 {
  position:absolute;
  left:149px;
  top:1520px;
  width:144px;
  height:41px;
}
#u13043 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:87px;
}
#u13044 {
  position:absolute;
  left:339px;
  top:1520px;
  width:200px;
  height:87px;
}
#u13045 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u13046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
}
#u13046 {
  position:absolute;
  left:910px;
  top:1512px;
  width:300px;
  height:51px;
}
#u13047 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
}
#u13048 {
  position:absolute;
  left:758px;
  top:1512px;
  width:300px;
  height:51px;
}
#u13049 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:87px;
}
#u13050 {
  position:absolute;
  left:453px;
  top:1520px;
  width:200px;
  height:87px;
}
#u13051 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u13052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u13052 {
  position:absolute;
  left:155px;
  top:199px;
  width:128px;
  height:42px;
  font-size:16px;
  color:#000000;
}
#u13053 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u13054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:48px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13054 {
  position:absolute;
  left:124px;
  top:451px;
  width:159px;
  height:48px;
  font-size:18px;
}
#u13055 {
  position:absolute;
  left:2px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u13056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13056 {
  position:absolute;
  left:155px;
  top:409px;
  width:128px;
  height:42px;
  font-size:16px;
}
#u13057 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u13058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF6600;
}
#u13058 {
  position:absolute;
  left:155px;
  top:241px;
  width:128px;
  height:42px;
  font-size:16px;
  color:#FF6600;
}
#u13059 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u13060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13060 {
  position:absolute;
  left:155px;
  top:283px;
  width:128px;
  height:42px;
  font-size:16px;
}
#u13061 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u13062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13062 {
  position:absolute;
  left:155px;
  top:325px;
  width:128px;
  height:42px;
  font-size:16px;
}
#u13063 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u13064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13064 {
  position:absolute;
  left:155px;
  top:367px;
  width:128px;
  height:42px;
  font-size:16px;
}
#u13065 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u13066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13066 {
  position:absolute;
  left:461px;
  top:542px;
  width:778px;
  height:31px;
  font-size:14px;
  text-align:left;
}
#u13067 {
  position:absolute;
  left:2px;
  top:6px;
  width:774px;
  word-wrap:break-word;
}
#u13068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13068 {
  position:absolute;
  left:461px;
  top:573px;
  width:778px;
  height:78px;
  font-size:14px;
  text-align:left;
}
#u13069 {
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
#u13070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13070 {
  position:absolute;
  left:1093px;
  top:609px;
  width:100px;
  height:30px;
}
#u13071 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:108px;
}
#u13072 {
  position:absolute;
  left:291px;
  top:542px;
  width:160px;
  height:108px;
  color:#FFFFFF;
}
#u13073 {
  position:absolute;
  left:2px;
  top:46px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13074 {
  position:absolute;
  left:461px;
  top:664px;
  width:778px;
  height:33px;
  font-size:14px;
  text-align:left;
}
#u13075 {
  position:absolute;
  left:2px;
  top:6px;
  width:774px;
  word-wrap:break-word;
}
#u13076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13076 {
  position:absolute;
  left:461px;
  top:694px;
  width:778px;
  height:78px;
  font-size:14px;
  text-align:left;
}
#u13077 {
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
#u13078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13078 {
  position:absolute;
  left:1093px;
  top:730px;
  width:100px;
  height:30px;
}
#u13079 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:108px;
}
#u13080 {
  position:absolute;
  left:291px;
  top:663px;
  width:160px;
  height:108px;
  color:#FFFFFF;
}
#u13081 {
  position:absolute;
  left:2px;
  top:46px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13082 {
  position:absolute;
  left:461px;
  top:780px;
  width:778px;
  height:33px;
  font-size:14px;
  text-align:left;
}
#u13083 {
  position:absolute;
  left:2px;
  top:6px;
  width:774px;
  word-wrap:break-word;
}
#u13084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13084 {
  position:absolute;
  left:461px;
  top:813px;
  width:778px;
  height:78px;
  font-size:14px;
  text-align:left;
}
#u13085 {
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
#u13086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13086 {
  position:absolute;
  left:1093px;
  top:849px;
  width:100px;
  height:30px;
}
#u13087 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:109px;
}
#u13088 {
  position:absolute;
  left:291px;
  top:781px;
  width:160px;
  height:109px;
  color:#FFFFFF;
}
#u13089 {
  position:absolute;
  left:2px;
  top:46px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13090 {
  position:absolute;
  left:461px;
  top:897px;
  width:778px;
  height:33px;
  font-size:14px;
  text-align:left;
}
#u13091 {
  position:absolute;
  left:2px;
  top:6px;
  width:774px;
  word-wrap:break-word;
}
#u13092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13092 {
  position:absolute;
  left:461px;
  top:930px;
  width:778px;
  height:78px;
  font-size:14px;
  text-align:left;
}
#u13093 {
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
#u13094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13094 {
  position:absolute;
  left:1093px;
  top:966px;
  width:100px;
  height:30px;
}
#u13095 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:108px;
}
#u13096 {
  position:absolute;
  left:291px;
  top:899px;
  width:160px;
  height:108px;
  color:#FFFFFF;
}
#u13097 {
  position:absolute;
  left:2px;
  top:46px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13098 {
  position:absolute;
  left:461px;
  top:1015px;
  width:778px;
  height:33px;
  font-size:14px;
  text-align:left;
}
#u13099 {
  position:absolute;
  left:2px;
  top:6px;
  width:774px;
  word-wrap:break-word;
}
#u13100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13100 {
  position:absolute;
  left:461px;
  top:1048px;
  width:778px;
  height:78px;
  font-size:14px;
  text-align:left;
}
#u13101 {
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
#u13102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13102 {
  position:absolute;
  left:1093px;
  top:1084px;
  width:100px;
  height:30px;
}
#u13103 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:108px;
}
#u13104 {
  position:absolute;
  left:291px;
  top:1017px;
  width:160px;
  height:108px;
  color:#FFFFFF;
}
#u13105 {
  position:absolute;
  left:2px;
  top:46px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13106 {
  position:absolute;
  left:461px;
  top:1135px;
  width:778px;
  height:33px;
  font-size:14px;
  text-align:left;
}
#u13107 {
  position:absolute;
  left:2px;
  top:6px;
  width:774px;
  word-wrap:break-word;
}
#u13108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13108 {
  position:absolute;
  left:461px;
  top:1168px;
  width:778px;
  height:78px;
  font-size:14px;
  text-align:left;
}
#u13109 {
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
#u13110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13110 {
  position:absolute;
  left:1093px;
  top:1204px;
  width:100px;
  height:30px;
}
#u13111 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:108px;
}
#u13112 {
  position:absolute;
  left:291px;
  top:1137px;
  width:160px;
  height:108px;
  color:#FFFFFF;
}
#u13113 {
  position:absolute;
  left:2px;
  top:46px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13114 {
  position:absolute;
  left:461px;
  top:1256px;
  width:778px;
  height:33px;
  font-size:14px;
  text-align:left;
}
#u13115 {
  position:absolute;
  left:2px;
  top:6px;
  width:774px;
  word-wrap:break-word;
}
#u13116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u13116 {
  position:absolute;
  left:461px;
  top:1289px;
  width:778px;
  height:78px;
  font-size:14px;
  text-align:left;
}
#u13117 {
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
#u13118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13118 {
  position:absolute;
  left:1093px;
  top:1325px;
  width:100px;
  height:30px;
}
#u13119 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:108px;
}
#u13120 {
  position:absolute;
  left:291px;
  top:1258px;
  width:160px;
  height:108px;
  color:#FFFFFF;
}
#u13121 {
  position:absolute;
  left:2px;
  top:46px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13122 {
  position:absolute;
  left:1097px;
  top:168px;
  width:99px;
  height:16px;
}
#u13123 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13124 {
  position:absolute;
  left:307px;
  top:169px;
  width:57px;
  height:20px;
}
#u13125 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13126 {
  position:absolute;
  left:155px;
  top:793px;
  width:128px;
  height:42px;
  font-size:16px;
}
#u13127 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
