body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:510px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19521 {
  position:absolute;
  left:34px;
  top:330px;
  width:518px;
  height:510px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19522 {
  position:absolute;
  left:2px;
  top:247px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u19523 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u19524 {
  position:absolute;
  left:2px;
  top:20px;
  width:1276px;
  word-wrap:break-word;
}
#u19525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u19525 {
  position:absolute;
  left:34px;
  top:295px;
  width:85px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u19526 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u19527 {
  position:absolute;
  left:34px;
  top:156px;
  width:575px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u19528 {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  white-space:nowrap;
}
#u19529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u19529 {
  position:absolute;
  left:34px;
  top:254px;
  width:91px;
  height:33px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u19530 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u19531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
  background:inherit;
  background-color:rgba(107, 14, 126, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19531 {
  position:absolute;
  left:50px;
  top:345px;
  width:320px;
  height:480px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19532 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(172, 172, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19533 {
  position:absolute;
  left:50px;
  top:365px;
  width:320px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19534 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19535 {
  position:absolute;
  left:174px;
  top:375px;
  width:73px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19536 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19537 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u19538 {
  position:absolute;
  left:50px;
  top:365px;
  width:35px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u19539 {
  position:absolute;
  left:2px;
  top:14px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
}
#u19540 {
  position:absolute;
  left:62px;
  top:379px;
  width:11px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19541 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u19542 {
  position:absolute;
  left:50px;
  top:345px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19543 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u19544 {
  position:absolute;
  left:160px;
  top:495px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19545 {
  position:absolute;
  left:2px;
  top:30px;
  width:96px;
  word-wrap:break-word;
}
#u19546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u19546 {
  position:absolute;
  left:100px;
  top:615px;
  width:219px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u19547 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u19548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u19548 {
  position:absolute;
  left:138px;
  top:685px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u19549 {
  position:absolute;
  left:2px;
  top:16px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u19550 {
  position:absolute;
  left:174px;
  top:697px;
  width:73px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u19551 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u19552 {
  position:absolute;
  left:180px;
  top:659px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u19553 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u19554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
  line-height:20px;
}
#u19554 {
  position:absolute;
  left:409px;
  top:540px;
  width:92px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
  line-height:20px;
}
#u19555 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u19556_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:171px;
  height:19px;
}
#u19556p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:164px;
  height:4px;
}
#u19556p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:166px;
  height:6px;
}
#u19556p001 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:20px;
}
#u19556p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19556.compound {
  width:0px;
  height:0px;
}
#u19556 {
  position:absolute;
  left:240px;
  top:548px;
  width:161px;
  height:1px;
}
#u19557 {
  position:absolute;
  left:2px;
  top:-8px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
  line-height:20px;
}
#u19558 {
  position:absolute;
  left:409px;
  top:685px;
  width:101px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
  line-height:20px;
}
#u19559 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u19560_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:142px;
  height:19px;
}
#u19560p000 {
  position:absolute;
  left:-2px;
  top:-2px;
  width:136px;
  height:4px;
}
#u19560p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:138px;
  height:6px;
}
#u19560p001 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:20px;
}
#u19560p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u19560.compound {
  width:0px;
  height:0px;
}
#u19560 {
  position:absolute;
  left:269px;
  top:693px;
  width:132px;
  height:1px;
}
#u19561 {
  position:absolute;
  left:2px;
  top:-8px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u19562 {
  position:absolute;
  left:34px;
  top:113px;
  width:55px;
  height:33px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u19563 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
