body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:499px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u5800 {
  position:absolute;
  left:406px;
  top:98px;
  width:384px;
  height:499px;
}
#u5801 {
  position:absolute;
  left:2px;
  top:242px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5802_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:249px;
  height:49px;
}
#u5802 {
  position:absolute;
  left:477px;
  top:482px;
  width:247px;
  height:47px;
  color:#FFFFFF;
}
#u5803 {
  position:absolute;
  left:2px;
  top:14px;
  width:243px;
  word-wrap:break-word;
}
#u5804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5804 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u5805 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5806 {
  position:absolute;
  left:129px;
  top:9px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u5807 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u5808 {
  position:absolute;
  left:191px;
  top:6px;
  width:1px;
  height:20px;
}
#u5809 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5810 {
  position:absolute;
  left:209px;
  top:9px;
  width:111px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u5811 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u5812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5812 {
  position:absolute;
  left:354px;
  top:9px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u5813 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5814 {
  position:absolute;
  left:406px;
  top:9px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u5815 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5816 {
  position:absolute;
  left:820px;
  top:9px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u5817 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5818 {
  position:absolute;
  left:98px;
  top:1px;
  width:83px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:14px;
}
#u5819 {
  position:absolute;
  left:883px;
  top:8px;
  width:228px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u5820 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u5821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5821 {
  position:absolute;
  left:109px;
  top:6px;
  width:20px;
  height:20px;
}
#u5822 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u5823 {
  position:absolute;
  left:518px;
  top:165px;
  width:144px;
  height:41px;
}
#u5824 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5825 {
  position:absolute;
  left:518px;
  top:242px;
  width:161px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u5826 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u5827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5827 {
  position:absolute;
  left:477px;
  top:299px;
  width:247px;
  height:47px;
}
#u5828 {
  position:absolute;
  left:2px;
  top:16px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#E4E4E4;
}
#u5829 {
  position:absolute;
  left:489px;
  top:315px;
  width:107px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#E4E4E4;
}
#u5830 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5831 {
  position:absolute;
  left:477px;
  top:367px;
  width:247px;
  height:47px;
}
#u5832 {
  position:absolute;
  left:2px;
  top:16px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#E4E4E4;
}
#u5833 {
  position:absolute;
  left:489px;
  top:383px;
  width:52px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#E4E4E4;
}
#u5834 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5835 {
  position:absolute;
  left:477px;
  top:439px;
  width:119px;
  height:18px;
}
#u5836 {
  position:absolute;
  left:16px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5835_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-decoration:underline;
  color:#3366CC;
}
#u5837 {
  position:absolute;
  left:615px;
  top:439px;
  width:39px;
  height:15px;
  font-size:13px;
  text-decoration:underline;
  color:#3366CC;
}
#u5838 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u5839 {
  position:absolute;
  left:660px;
  top:440px;
  width:1px;
  height:15px;
}
#u5840 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-decoration:underline;
  color:#3366CC;
}
#u5841 {
  position:absolute;
  left:664px;
  top:439px;
  width:65px;
  height:15px;
  font-size:13px;
  text-decoration:underline;
  color:#3366CC;
}
#u5842 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:2px;
}
#u5843 {
  position:absolute;
  left:477px;
  top:555px;
  width:247px;
  height:1px;
}
#u5844 {
  position:absolute;
  left:2px;
  top:-8px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5845 {
  position:absolute;
  left:652px;
  top:566px;
  width:72px;
  height:15px;
  font-size:13px;
}
#u5846 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5847 {
  position:absolute;
  left:612px;
  top:371px;
  width:109px;
  height:40px;
}
#u5848 {
  position:absolute;
  left:2px;
  top:11px;
  width:105px;
  word-wrap:break-word;
}
