body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:566px;
}
#u851 {
  position:absolute;
  left:8px;
  top:13px;
  width:1112px;
  height:566px;
}
#u852 {
  position:absolute;
  left:2px;
  top:275px;
  width:1108px;
  visibility:hidden;
  word-wrap:break-word;
}
