body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8678 {
  position:absolute;
  left:10px;
  top:9px;
  width:219px;
  height:31px;
}
#u8679 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u8680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1327px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8680 {
  position:absolute;
  left:10px;
  top:40px;
  width:1200px;
  height:1327px;
}
#u8681 {
  position:absolute;
  left:2px;
  top:656px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8682 {
  position:absolute;
  left:22px;
  top:50px;
  width:1003px;
  height:158px;
}
#u8683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u8683 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8684 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u8685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:31px;
}
#u8685 {
  position:absolute;
  left:68px;
  top:0px;
  width:930px;
  height:31px;
  text-align:left;
}
#u8686 {
  position:absolute;
  left:2px;
  top:6px;
  width:926px;
  word-wrap:break-word;
}
#u8687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u8687 {
  position:absolute;
  left:0px;
  top:31px;
  width:68px;
  height:31px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8688 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u8689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:31px;
}
#u8689 {
  position:absolute;
  left:68px;
  top:31px;
  width:930px;
  height:31px;
  text-align:left;
}
#u8690 {
  position:absolute;
  left:2px;
  top:6px;
  width:926px;
  word-wrap:break-word;
}
#u8691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u8691 {
  position:absolute;
  left:0px;
  top:62px;
  width:68px;
  height:31px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8692 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u8693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:31px;
}
#u8693 {
  position:absolute;
  left:68px;
  top:62px;
  width:930px;
  height:31px;
  text-align:left;
}
#u8694 {
  position:absolute;
  left:2px;
  top:6px;
  width:926px;
  word-wrap:break-word;
}
#u8695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u8695 {
  position:absolute;
  left:0px;
  top:93px;
  width:68px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8696 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u8697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:30px;
}
#u8697 {
  position:absolute;
  left:68px;
  top:93px;
  width:930px;
  height:30px;
  text-align:left;
}
#u8698 {
  position:absolute;
  left:2px;
  top:6px;
  width:926px;
  word-wrap:break-word;
}
#u8699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u8699 {
  position:absolute;
  left:0px;
  top:123px;
  width:68px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8700 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u8701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:30px;
}
#u8701 {
  position:absolute;
  left:68px;
  top:123px;
  width:930px;
  height:30px;
  text-align:left;
}
#u8702 {
  position:absolute;
  left:2px;
  top:6px;
  width:926px;
  word-wrap:break-word;
}
#u8703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:249px;
}
#u8703 {
  position:absolute;
  left:22px;
  top:224px;
  width:1169px;
  height:249px;
}
#u8704 {
  position:absolute;
  left:2px;
  top:116px;
  width:1165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:249px;
}
#u8705 {
  position:absolute;
  left:31px;
  top:541px;
  width:1169px;
  height:249px;
}
#u8706 {
  position:absolute;
  left:2px;
  top:116px;
  width:1165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:249px;
}
#u8707 {
  position:absolute;
  left:41px;
  top:800px;
  width:1169px;
  height:249px;
}
#u8708 {
  position:absolute;
  left:2px;
  top:116px;
  width:1165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:249px;
}
#u8709 {
  position:absolute;
  left:41px;
  top:1067px;
  width:1199px;
  height:249px;
}
#u8710 {
  position:absolute;
  left:2px;
  top:116px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8711 {
  position:absolute;
  left:152px;
  top:446px;
  width:51px;
  height:18px;
  color:#FFFFFF;
}
#u8712 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8713 {
  position:absolute;
  left:348px;
  top:446px;
  width:51px;
  height:18px;
  color:#FFFFFF;
}
#u8714 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8715 {
  position:absolute;
  left:152px;
  top:762px;
  width:51px;
  height:18px;
  color:#FFFFFF;
}
#u8716 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8717 {
  position:absolute;
  left:348px;
  top:762px;
  width:51px;
  height:18px;
  color:#FFFFFF;
}
#u8718 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
