body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:263px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5099 {
  position:absolute;
  left:36px;
  top:16px;
  width:341px;
  height:263px;
}
#u5100 {
  position:absolute;
  left:2px;
  top:124px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5101 {
  position:absolute;
  left:110px;
  top:20px;
  width:169px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5102 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u5103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u5103 {
  position:absolute;
  left:36px;
  top:56px;
  width:329px;
  height:1px;
}
#u5104 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5105 {
  position:absolute;
  left:49px;
  top:98px;
  width:43px;
  height:17px;
}
#u5106 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5107 {
  position:absolute;
  left:140px;
  top:94px;
  width:225px;
  height:25px;
}
#u5107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5108 {
  position:absolute;
  left:49px;
  top:130px;
  width:71px;
  height:17px;
}
#u5109 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5110 {
  position:absolute;
  left:140px;
  top:126px;
  width:225px;
  height:25px;
}
#u5110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5111 {
  position:absolute;
  left:48px;
  top:162px;
  width:71px;
  height:17px;
}
#u5112 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5113 {
  position:absolute;
  left:139px;
  top:158px;
  width:225px;
  height:25px;
}
#u5113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5114 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
}
#u5115 {
  position:absolute;
  left:139px;
  top:211px;
  width:69px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5116 {
  position:absolute;
  left:2px;
  top:9px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5117 {
  position:absolute;
  left:145px;
  top:216px;
  width:56px;
  height:26px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5118 {
  position:absolute;
  left:0px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u5119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
}
#u5120 {
  position:absolute;
  left:218px;
  top:210px;
  width:69px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5121 {
  position:absolute;
  left:2px;
  top:9px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5122 {
  position:absolute;
  left:224px;
  top:215px;
  width:56px;
  height:26px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5123 {
  position:absolute;
  left:0px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u5124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5124 {
  position:absolute;
  left:48px;
  top:66px;
  width:71px;
  height:17px;
}
#u5125 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5126 {
  position:absolute;
  left:139px;
  top:62px;
  width:225px;
  height:25px;
}
#u5126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FF0000;
}
#u5127 {
  position:absolute;
  left:116px;
  top:62px;
  width:15px;
  height:21px;
  font-size:36px;
  color:#FF0000;
}
#u5128 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u5129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FF0000;
}
#u5129 {
  position:absolute;
  left:116px;
  top:92px;
  width:18px;
  height:21px;
  font-size:36px;
  color:#FF0000;
}
#u5130 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u5131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FF0000;
}
#u5131 {
  position:absolute;
  left:117px;
  top:126px;
  width:15px;
  height:21px;
  font-size:36px;
  color:#FF0000;
}
#u5132 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u5133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FF0000;
}
#u5133 {
  position:absolute;
  left:117px;
  top:157px;
  width:15px;
  height:21px;
  font-size:36px;
  color:#FF0000;
}
#u5134 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
