body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u5465 {
  position:absolute;
  left:100px;
  top:40px;
  width:144px;
  height:41px;
}
#u5466 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u5467 {
  position:absolute;
  left:256px;
  top:41px;
  width:1px;
  height:40px;
}
#u5468 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#797979;
}
#u5469 {
  position:absolute;
  left:268px;
  top:47px;
  width:150px;
  height:29px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#797979;
}
#u5470 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u5471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:482px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5471 {
  position:absolute;
  left:100px;
  top:91px;
  width:1000px;
  height:482px;
}
#u5472 {
  position:absolute;
  left:2px;
  top:233px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:354px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5473 {
  position:absolute;
  left:167px;
  top:190px;
  width:866px;
  height:354px;
}
#u5474 {
  position:absolute;
  left:2px;
  top:169px;
  width:862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5475_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:249px;
  height:49px;
}
#u5475 {
  position:absolute;
  left:474px;
  top:451px;
  width:247px;
  height:47px;
  color:#FFFFFF;
}
#u5476 {
  position:absolute;
  left:2px;
  top:14px;
  width:243px;
  word-wrap:break-word;
}
#u5477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:50px;
}
#u5477 {
  position:absolute;
  left:197px;
  top:116px;
  width:800px;
  height:50px;
}
#u5478 {
  position:absolute;
  left:2px;
  top:17px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:91px;
}
#u5479 {
  position:absolute;
  left:551px;
  top:235px;
  width:92px;
  height:91px;
}
#u5480 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:33px;
}
#u5481 {
  position:absolute;
  left:432px;
  top:366px;
  width:337px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5482 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u5483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5483 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u5484 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5485 {
  position:absolute;
  left:129px;
  top:9px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u5486 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u5487 {
  position:absolute;
  left:191px;
  top:6px;
  width:1px;
  height:20px;
}
#u5488 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5489 {
  position:absolute;
  left:209px;
  top:9px;
  width:111px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u5490 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u5491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5491 {
  position:absolute;
  left:354px;
  top:9px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u5492 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5493 {
  position:absolute;
  left:406px;
  top:9px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u5494 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5495 {
  position:absolute;
  left:820px;
  top:9px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u5496 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5497 {
  position:absolute;
  left:98px;
  top:1px;
  width:83px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:14px;
}
#u5498 {
  position:absolute;
  left:883px;
  top:8px;
  width:228px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u5499 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u5500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5500 {
  position:absolute;
  left:109px;
  top:6px;
  width:20px;
  height:20px;
}
#u5501 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
