body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u4690 {
  position:absolute;
  left:100px;
  top:40px;
  width:144px;
  height:41px;
}
#u4691 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u4692 {
  position:absolute;
  left:256px;
  top:41px;
  width:1px;
  height:40px;
}
#u4693 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#797979;
}
#u4694 {
  position:absolute;
  left:268px;
  top:47px;
  width:151px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#797979;
}
#u4695 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u4696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:482px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4696 {
  position:absolute;
  left:100px;
  top:91px;
  width:1000px;
  height:482px;
}
#u4697 {
  position:absolute;
  left:2px;
  top:233px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:354px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4698 {
  position:absolute;
  left:167px;
  top:190px;
  width:866px;
  height:354px;
}
#u4699 {
  position:absolute;
  left:2px;
  top:169px;
  width:862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4700_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:249px;
  height:49px;
}
#u4700 {
  position:absolute;
  left:474px;
  top:451px;
  width:247px;
  height:47px;
  color:#FFFFFF;
}
#u4701 {
  position:absolute;
  left:2px;
  top:14px;
  width:243px;
  word-wrap:break-word;
}
#u4702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:50px;
}
#u4702 {
  position:absolute;
  left:197px;
  top:116px;
  width:800px;
  height:50px;
}
#u4703 {
  position:absolute;
  left:2px;
  top:17px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:91px;
}
#u4704 {
  position:absolute;
  left:551px;
  top:235px;
  width:92px;
  height:91px;
}
#u4705 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:40px;
}
#u4706 {
  position:absolute;
  left:432px;
  top:366px;
  width:337px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u4707 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u4708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4708 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u4709 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4710 {
  position:absolute;
  left:129px;
  top:9px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u4711 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u4712 {
  position:absolute;
  left:191px;
  top:6px;
  width:1px;
  height:20px;
}
#u4713 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4714 {
  position:absolute;
  left:209px;
  top:9px;
  width:111px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u4715 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u4716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4716 {
  position:absolute;
  left:354px;
  top:9px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u4717 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4718 {
  position:absolute;
  left:406px;
  top:9px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u4719 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4720 {
  position:absolute;
  left:820px;
  top:9px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u4721 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4722 {
  position:absolute;
  left:98px;
  top:1px;
  width:83px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:34px;
}
#u4723 {
  position:absolute;
  left:883px;
  top:8px;
  width:228px;
  height:34px;
  font-size:12px;
  color:#FFFFFF;
}
#u4724 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u4725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4725 {
  position:absolute;
  left:109px;
  top:6px;
  width:20px;
  height:20px;
}
#u4726 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
