body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2293px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:4480px;
}
#u383 {
  position:absolute;
  left:0px;
  top:39px;
  width:1920px;
  height:4480px;
}
#u384 {
  position:absolute;
  left:2px;
  top:2232px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u385 {
  position:absolute;
  left:272px;
  top:4038px;
  width:1345px;
  height:80px;
  overflow:hidden;
}
#u385_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u385_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1577px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u386 {
  position:absolute;
  left:0px;
  top:0px;
  width:1577px;
  height:80px;
}
#u387 {
  position:absolute;
  left:2px;
  top:32px;
  width:1573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u388 {
  position:absolute;
  left:286px;
  top:24px;
  width:661px;
  height:42px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u389 {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  white-space:nowrap;
}
#u390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u390 {
  position:absolute;
  left:987px;
  top:20px;
  width:140px;
  height:40px;
}
#u391 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u392_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:386px;
  height:31px;
}
#u392 {
  position:absolute;
  left:1617px;
  top:4076px;
  width:371px;
  height:5px;
}
#u393 {
  position:absolute;
  left:2px;
  top:-6px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u394 {
  position:absolute;
  left:1998px;
  top:4069px;
  width:295px;
  height:20px;
  color:#FF0000;
}
#u395 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u396 {
  position:absolute;
  left:1587px;
  top:997px;
  width:65px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u398 {
  position:absolute;
  left:1591px;
  top:1045px;
  width:40px;
  height:20px;
  text-align:center;
}
#u399 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u400 {
  position:absolute;
  left:1591px;
  top:1075px;
  width:40px;
  height:20px;
  text-align:center;
}
#u401 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u402 {
  position:absolute;
  left:1591px;
  top:1105px;
  width:40px;
  height:20px;
  text-align:center;
}
#u403 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u404 {
  position:absolute;
  left:1591px;
  top:1135px;
  width:40px;
  height:20px;
  text-align:center;
}
#u405 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u406 {
  position:absolute;
  left:1659px;
  top:1045px;
  width:141px;
  height:20px;
}
#u407 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u408 {
  position:absolute;
  left:1830px;
  top:1045px;
  width:57px;
  height:20px;
}
#u409 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u410 {
  position:absolute;
  left:1661px;
  top:1075px;
  width:141px;
  height:20px;
}
#u411 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u412 {
  position:absolute;
  left:1661px;
  top:1105px;
  width:141px;
  height:20px;
}
#u413 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u414 {
  position:absolute;
  left:1661px;
  top:1135px;
  width:141px;
  height:20px;
}
#u415 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u416 {
  position:absolute;
  left:1830px;
  top:1075px;
  width:57px;
  height:20px;
}
#u417 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u418 {
  position:absolute;
  left:1830px;
  top:1105px;
  width:57px;
  height:20px;
}
#u419 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u420 {
  position:absolute;
  left:1830px;
  top:1135px;
  width:57px;
  height:20px;
}
#u421 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:2px;
}
#u422 {
  position:absolute;
  left:1592px;
  top:1070px;
  width:301px;
  height:1px;
}
#u423 {
  position:absolute;
  left:2px;
  top:-8px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:2px;
}
#u424 {
  position:absolute;
  left:1592px;
  top:1099px;
  width:301px;
  height:1px;
}
#u425 {
  position:absolute;
  left:2px;
  top:-8px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:2px;
}
#u426 {
  position:absolute;
  left:1591px;
  top:1130px;
  width:301px;
  height:1px;
}
#u427 {
  position:absolute;
  left:2px;
  top:-8px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:2px;
}
#u428 {
  position:absolute;
  left:1592px;
  top:1161px;
  width:301px;
  height:1px;
}
#u429 {
  position:absolute;
  left:2px;
  top:-8px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:148px;
  height:31px;
}
#u430 {
  position:absolute;
  left:1874px;
  top:1053px;
  width:133px;
  height:5px;
}
#u431 {
  position:absolute;
  left:2px;
  top:-6px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u432 {
  position:absolute;
  left:2007px;
  top:1045px;
  width:211px;
  height:20px;
  color:#FF0000;
}
#u433 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u434_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:125px;
  height:31px;
}
#u434 {
  position:absolute;
  left:1897px;
  top:1230px;
  width:110px;
  height:5px;
}
#u435 {
  position:absolute;
  left:2px;
  top:-6px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u436 {
  position:absolute;
  left:2007px;
  top:1222px;
  width:127px;
  height:20px;
}
#u437 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u438 {
  position:absolute;
  left:1582px;
  top:992px;
  width:311px;
  height:250px;
  opacity:0.2;
}
#u439 {
  position:absolute;
  left:2px;
  top:117px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
